<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272722041816-hpqa51nvdd7mus93naa1udlqs3d5284k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272722041816-hpqa51nvdd7mus93naa1udlqs3d5284k</string>
	<key>API_KEY</key>
	<string>AIzaSyAN5dPXdUSAu93_3tVpT25u2N_hPjQfm3s</string>
	<key>GCM_SENDER_ID</key>
	<string>272722041816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ng.prideapps.mynotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mynotes-osile-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-osile-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272722041816:ios:bf25bad99e89c3a47030ad</string>
</dict>
</plist>